.overlay{
    background: black;
    overflow: hidden;
}
.transparent {
    object-fit: cover;
    /* opacity: 0.4; */
    background-color: rgba(0,0,0,0.5);
 }
 .text-overlay{
    position: absolute;
    color:white;
    padding-top: 5%;
    padding-left: 2%;
    font-size: 50px;
    height:70vh;
    width:100%;
    backdrop-filter: blur(0px) brightness(50%);

 }
 .Filter-container{
   padding: 0 10px 0 64px;
 }
.mt-4{    margin-left: .5rem;} 


 @media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
    
}
 @media (min-width: 433px) {
   
    .dash_btn{
      display: none;
    
    }
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #ffffff;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;  
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  @media screen and (max-width: 600px) {
    .scroller {overflow:scroll;}
    
  }