@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #eff8ff;
  padding: 2rem;
  color: #a0a0a0;
  display: flex;
  justify-content: center;
  /* font-family: 'Fjalla One', sans-serif; */
}

.register-body {
  display: table;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}
.register-wrapper {
  display: table-cell;
  width: 100%;
  height: 100%;
  max-width: 825px;
  /* vertical-align: middle; */
}
.container {
  width: 100%;
  margin: 0 auto;
}

.register-box {
  background-color: #fff;
  border-radius: 6px;
  /* box-shadow: black;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  display: flex;
  margin: 1.875rem auto;
  max-width: 800px;
  min-height: 500px;
  width: 100%;
}
.logo {
  width: 25.5rem;
  position: relative;
  top: 3rem;
  filter: drop-shadow(2px 4px 6px black);
}

.register-left {
  align-items: center;
  background: url("../images/India-child-labour-school-holiday-1.jpg");
  background-color: #00000069;
  border-radius: 6px 0 0 6px;
  flex-direction: column;
  background-size: cover;
  background-position: -10rem;
  justify-content: center;
  padding: 80px;
  width: 400px;
  display: flex;
  background-blend-mode: hue;
}
.register-right {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 400px;
}

.form__title {
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 5px;
  text-align: center;
  color: #333;
}
.account-subtitle {
  color: #4c4c4c;
  font-size: 17px;
  margin-bottom: 1.875rem;
  text-align: center;
}
.form__input--group {
  margin-bottom: 1.25rem;
}
.form__input {
  display: block;
  width: 100%;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  /* box-sizing: border-box; */
  border-radius: 0.25rem;
  /* border: 1px solid #dddddd; */
  border: 1px solid #ddd;
  box-shadow: none;
  color: #333;
  font-size: 15px;
  height: 40px;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: #ffbc53;
  background: #fff;
}
.register-or {
  color: #a0a0a0;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.or-line {
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}
.span-or {
  background-color: #fff;
  display: block;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 42px;
}


.form__button {
  width: 100%;
    padding: 0.5rem 4.75rem;
  font-weight: bold;
  color: #fff;
  outline: none;
  cursor: pointer;
  background-color: #ffbc53;
  border: none;
  border-radius: 6px;
}

.form__button:hover {
  background-color: #11a7f3;
}

.form__button:active {
  transform: scale(0.98);
}
.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.link:hover {
  /* text-decoration: underline; */
  color: #11a7f3;
}
.form-text {
  margin-top: 1.875rem;
  text-align: center;
}
.form__rest__button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  outline: none;
  cursor: pointer;
  background-color: #ffbc53;
  border: none;
  border-radius: 6px;
}
.form__rest__button:hover {
  background-color: #11a7f3;
}
.logoNav{
     width: 15.5rem;
    position: relative;
    filter: drop-shadow(2px 2px 1px #0d3a5f);
}
.logoNavigation{
     width: 10.5rem;
    position: relative;
    filter: drop-shadow(2px 2px 1px #0d3a5f);
}

@media (max-width: 995px) {
  .register-body {
    height: auto;
    max-width: 475px;
    overflow: hidden;

  }
  .me-2{
  position: relative;
    bottom: 2.9rem;
}
.logoNav{
     width: 15.5rem;
    position: relative;
        bottom: 2.9rem;
    filter: drop-shadow(2px 2px 1px #0d3a5f);
}
  .register-wrapper {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }
  .form__input--group {
    width: 19rem;
  }

  .register-box {
    position: revert;
    width: 100%;
    height: auto;
  }

  .register__form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .form__title,
  .account-subtitle {
    margin: 2rem 0;
  }

  .register-left {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .register-left {
    display: none;
  }
}
@media (max-width: 825px) {
  .register-body {
    height: auto;
    max-width: 475px;
    overflow: hidden;
    /* line-height: 1.5rem; */
  }

  .register-wrapper {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }
  .form__input--group {
    width: 20rem;

  }

  .register-box {
    position: revert;
    width: 100%;
    height: auto;
  }

  .register__form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .form__title,
  .account-subtitle {
    margin: 2rem 0;
  }

  .register-left {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .register-left {
    display: none;
  }
}
@media (max-width: 775px) {
  .register-body {
    height: auto;
    max-width: 450px;
    overflow: hidden;
  }

  .register-wrapper {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 1.5rem;
  }
  .form__input--group {
    width: 19rem;
  }

  .register-box {
    position: revert;
    width: 100%;
    height: auto;
  }

 .register__form{
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .form__title,
  .account-subtitle {
    margin: 2rem 0;
  }

  .register-left {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .register-left {
    display: none;
  }
}
@media (max-width: 650px) {
  .register-body {
    height: auto;
    max-width: 450px;
    overflow: hidden;
  }

  .register-wrapper {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 1.5rem;
  }
  .form__input--group {
    width: 19rem;
  }

  .register-box {
    position: revert;
    width: 100%;
    height: auto;
  }

 .register__form{
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .form__title,
  .account-subtitle {
    margin: 2rem 0;
  }

  .register-left {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .register-left {
    display: none;
  }
}
@media (max-width: 530px) {
  .main-container {
    padding: 1rem;
  }
  .form__input--group {
    width: 20rem;
   padding: 0.2rem 0.5rem;
    margin-bottom: 0;
  }
  .register-body {
    border-radius: 2rem;
  }

  .register-wrapper {
    padding: 1rem;
  }

  .register-left {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .form-text {
    margin-bottom: 1rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}
@media (max-width: 410px) {
  .register-body {
    height: auto;
    max-width: 425px;
    overflow: hidden;
  }
  .main-container {
    padding: 0.75rem;
  }
  .form__input--group {
    width: 19rem;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0;
  }
  .register-body {
    border-radius: 1.5rem;
  }

  .register-wrapper {
    padding: 0.75rem;
  }

  .register-left {
    padding: 1.25rem 0.75rem;
    border-radius: 2rem;
  }

  .form-text {
    margin-bottom: 0.75rem;
  }

  .register__form {
    padding: 0.75rem 1.5rem 1rem;
  } ._btn {
    padding: 0.5rem 4.25rem;
 
  }
}
@media (max-width: 370px) {
   .me-2{
display: none;
}}
@media (max-width: 330px) {

  .register-body {
    height: auto;
    max-width: 200px;
    overflow: hidden;
  }

  .main-container {
    padding: 0.5rem;
  }
  .form__input--group {
    width: 18rem;
    padding: 0.1rem 0.5rem;
    margin-bottom: 0;
  }
  .register-body {
    border-radius: 2rem;
  }

  .register-wrapper {
    padding: 0.5rem;
  }

  .register-left {
    padding: 1rem 0.5rem;
    border-radius: 2rem;
  }

  .form-text {
    margin-bottom: 0.5rem;
  }

  .register__form {
    padding: 0.5rem 1.25rem 0.75rem;
  }
}
@media (max-width: 290px) {
  .register-body {
    height: auto;
    max-width: 100px;
    overflow: hidden;
  }
    
  
  .main-container {
    padding: 0.5rem;
  }
  .form__input--group {
    width: 100%;
    padding: 0.1rem 0.5rem;
    margin-bottom: 0;
  }
  .register-body {
    border-radius: 2rem;
  }
  .main-container {
    padding: 0.5rem;
  }

  .register-body {
    border-radius: 2rem;
  }

  .register-wrapper {
    padding: 0.5rem;
  }

  .register-left {
    padding: 1rem 0.5rem;
    border-radius: 2rem;
  }

  .form-text {
    margin-bottom: 0.1rem;
  }

  .register__form {
    padding: 0.5rem 1.25rem 0.75rem;
  }
}
.error{
  color: red;
  text-align: center;
}











